### **Lab Evaluation Question**

1. Create a database named **`SS`** and a table **`EMPLOYEE`** with appropriate columns to store employee information.
2. Insert the following employees into the **`EMPLOYEE`** table:

   - (1, "JHON", "DEO", "HR", 50000, "2022-01-10")
   - (2, "JANE", "SMITH", "IT", 60000, "2023-03-12")
   - (3, "ALICE", "JOHNSON", "HR", 35000, "2020-05-03")
   - (4, "BOB", "BROWN", "FINANCE", 62000, "2021-05-15")
   - (5, "CHARLIE", "DAVINS", "IT", 75000, "2017-04-07")
   - (6, "EVE", "WILLIAMS", "MARKETING", 45000, "2024-08-13")

3. Update the salary of the employee with **EMP_ID = 3** to **58000**.
4. Write a query to find all employees in the **IT** department who have a salary greater than **60000**.
5. Write a query to find all employees whose salary is **not equal to 60000**.
6. Write a query to find employees who were hired between **January 1, 2019, and January 1, 2020**.
7. Retrieve all employees whose **last name contains the letter 'o'** but **does not start with 'B'**.
8. Delete the employee with **EMP_ID = 5** from the table.